<!doctype html>
<html>
<head>
    <title>index</title>  
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="message">
        <h1>Ulbora OAuth 2 Server</h1>
    </div>
    <div class="message">
        <h3>Copyright (C) 2016 Ulbora Labs LLC. (www.ulboralabs.com)</h3>
        <h3>All rights reserved.</h3>
        <h4>{{n}}</h4>
    </div>
 
</body>
</html>
